body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

/* Global list reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none ;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  box-sizing: border-box;
  }


/* Navigation layout */
header > .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header{
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;  
}
.header-nav{
  flex-grow:1;
}

/* Unbehaving logo */
.logo {
  /* display: inline-flex;
  align-items: baseline;
  gap:20px; */
  text-decoration: none;
}
.logo:hover,
.logo:focus-visible {
  text-decoration: none;
}
.web-logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

/* Navigation link styles */
.header-nav-list{
  display: flex;
  /* justify-content: center; */
  margin-left: 76px;
  gap: 40px;

}
.header-nav-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #2e2f42;
}

.header-nav-link:hover {
  color: #404bbf;
}
.header-nav-link:focus {
  color: #404bbf;
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.header-nav-link:focus-visible {
  color: #404bbf;
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* Address info styles */
.address-info{
  margin-left:auto;
}
.address-info a {
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline;
  font-style: normal;
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}
.address-info a:hover {
  color: #404bbf;
}
.address-info a:focus {
  color: #404bbf;
  outline: none;
  font-style: normal;
}
.address-list{
  display: flex;
  gap: 40px;

}

/* Hero section styles */
.hero {
  /* Will need these rules in the future. */
  /* width: 100%;
  gap: 48px; */
  background-color: #2e2f42;
  color: #fff;
}
.hero-main-text {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
  color: #fff;
}
.order-service-button {
  font-weight: 500;
  font-size: 16px;
  /* padding: 16px 32px; */ /* I shall keep this for the next home task */
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.order-service-button:hover {
  background-color: #404bbf;
  border: none;
  border-radius: 4px;
  /* box-sizing: border-box; */
  cursor: pointer;
  line-height: 1.5;
  /* padding: 16px 32px; */
}
.order-service-button:focus {
  background-color: #404bbf;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  line-height: 1.5;
  /* padding: 16px 32px; */
}

/* Our Features section */
.features-list {
  font-weight: 900;
}
.features-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 16px 0;
}
.features-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}

/* Our Team section */
.team-section {
  background-color: #f4f4fd;
  text-align: center;
}
.team-section-main-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.team-list {
  list-style: none;
}
.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list img {
  display: block;
}
.team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-card {
  background-color: #fff;
}

/* Our Portfolio section */
.portfolio-section-main-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  /* I shall need this property in the future for layout portfolio-list section. */
}
.portfolio-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list img {
  display: block;
}
.portfolio-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer styles */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.footer a {
  text-decoration: none;
}
.footer-business-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.web-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
