body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

/* Global list reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
}
.header-nav-link,
.logo,
.address-list a {
  padding: 24px 0;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Unbehaving logo */
.logo {
  text-decoration: none;
}
.logo:hover,
.logo:focus-visible {
  text-decoration: none;
}
.web-logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

/* Nav bar layout and styles */
header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}
header > .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-nav-list {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}
.header-nav-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #2e2f42;
}

.header-nav-link:hover {
  color: #404bbf;
}
.header-nav-link:focus {
  color: #404bbf;
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.header-nav-link:focus-visible {
  color: #404bbf;
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* Address info styles */
.address-info {
  margin-left: auto;
}
.address-info a {
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}
.address-info a:hover {
  color: #404bbf;
}
.address-info a:focus {
  color: #404bbf;
  outline: none;
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}

/* Hero section styles */
.hero {
  width: 100%;
  height: auto;
  padding: 188px 0;
  background-color: #2e2f42;
  color: #fff;
  text-align: center;
}
.hero-main-text {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
  color: #fff;
}
.order-service-button {
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.order-service-button:hover {
  background-color: #404bbf;
}
.order-service-button:focus {
  background-color: #404bbf;
  outline: none;
}

/* Our Features section */
.features-list {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}
.features-list li {
  width: calc((100% - 24px * 3) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 8px 0;
}
.features-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}

/* Our Team section */
.team-section {
  background-color: #f4f4fd;
  text-align: center;
  padding-top: 120px; /*something does not look right here even though I set it to the Figma example*/
  padding-bottom: 120px; /*same same issue, I think something wrong*/
}
.team-section-main-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-card {
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08); /*value is taken from the mockup*/
}
.team-card-details {
  padding: 32px 16px;
}
.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list img {
  display: block;
  width: 100%;
}
.team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-card {
  background-color: #fff;
}

/* Our Portfolio section */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-section-main-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-card {
  width: calc((100% - 24px * 2) / 3);
  background: #fff;
}
.portfolio-card-details {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer styles */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer a {
  text-decoration: none;
}
.footer-business-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  max-width: 264px;
  margin-top: 16px;
}
.web-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
